<p id="notice"><%= notice %></p>

<div class="container" id="Cat-lo">
<p class="center"><span class="glyphicon glyphicon-book titulo"></span></p>
<h1 class="titulo">Catalogo</h1>
<!-- Loop que imprime todas las casas-->
<% @casas.each do |casa| %>
<div class="container" id="Cat-lo">
		<!-- Subseccion de Catalogo -->
    			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Precio: <%= casa.precio %></h4>
						<p>Colonia: <%= casa.colonia %></p><br>
						<%= link_to 'Ver casa', casa %>
					</div>
				</div>
			</div>
<% end %>
</div>
<br>

