<!-- Jumbotron -->
<div class="container imgback" id="home-lome">
<h1 class="titulo-home">
	encuentra las mejores <br> casas en mexicali
</h1>
<button type="button" class="btn btn-default btn-lg center-block">Ver Catalogo</button>
<h2 class="center abajo"><a href="#Cat-lo" class="none"><span class="glyphicon glyphicon-chevron-down"></a></span></h2>
</br>
</br>
</div>

<!-- Seccion de Catalogo -->
<div class="container" id="Cat-lo">
			<p class="center"><span class="glyphicon glyphicon-book titulo"></span></p>
			<h1 class="titulo">Catalogo</h1>
		
		<!-- Subseccion de Catalogo -->
    			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>


						<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-sm-12 col-md-4">
				<div class="thumbnail timg">
					  <img src="http://tinyhouseswoon.com/wp-content/uploads/2013/10/savannah-container-house-1.jpg" alt="image">
				
					<div class="tcont">
						<h4>Container house</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p><br>
						<p><a href="#">Ver mas</a></p>
					</div>
				</div>
			</div>	
		
</div>

<!-- Seccion de Contacto -->

	<div class="container contact" id="Cont-to">
		<h1 class="titulo">contacto</h1>

			<div class="col-lg-2 col-md-2"></div>
				<div class="col-lg-8 col-md-8 col-sm-12 contacto">
					<form role="form">
					  <div class="form-group">
					    <label for="ejemplo_name_1">Nombre</label>
					    <input type="text" class="form-control" id="ejemplo_text_1"/>
					  </div>
					  <div class="form-group">
					    <label for="ejemplo_tel_1">Telefono</label>
					    <input type="tel" class="form-control" id="ejemplo_tel_1"/>
					  </div>

					  <div class="form-group">
					    <label for="ejemplo_email_1">Correo</label>
					    <input type="email" class="form-control" id="ejemplo_email_1"/>
					  </div>

					  <div class="form-group">
					    <label for="ejemplo_text_1">Escribe tu mensaje</label>
					    <textarea class="form-control" rows="5"></textarea>
					  </div>
					  <button type="submit" class="btn btn-success pull-right">Enviar</button>
					</form>
				</div>
			<div class="col-lg-2 col-md-2"></div>
		</div>
	</div>
